a {
  color: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'stratos', sans-serif;
  background: #EFE3CF;
  background-image: url("../img/stratos.figma.svg");
  background-repeat: no-repeat;
  background-position: center top;
}
.library {
  width: 1400px;
  height: 650px;
  display: block;
  background-image: url("../img/library.svg");
  background-size: 100% auto;
  margin: 156.9px 0 0 0
  }

  .headtext{
    font-family: "stratos";
    font-weight: normal;
    font-size: 140px;
    text-align: left;
    padding-top: 0px;
    padding-left: 500px;
    color: #FF6262;

  }
  .text1{
    font-family: "stratos";
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 376px;
    color: #FF6262;
    margin-top: -148px;
  }
  .text2{
    width: 458px;
    height: 111px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 29px;
    text-align: left;
    padding-top: 275px;
    padding-right: 0px;
    color: #FF6262;
    margin-left: 600px;
  }

  .year{
    font-family: "stratos";
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 0px;
    padding-right: 390px;
    color: #FF6262;
    margin-top: -41px;
  }

  .screensecond{
    width: 1299.85px;
    height: 905.52px;
    display: block;
    background-image: url("../img/screensecond.svg");
    background-size: 100% auto;
    margin-top: 145px;
    margin-left: 56px;
  }
  .group{
    width: 421px;
    height: 187px;
    display: block;
    background-image: url("../img/group109.svg");
    background-size: 100% auto;
    margin-top: 0px;
    margin-left: 0px;
  }
  .text3{
    width: 277px;
    height: 137px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -20px;
    margin-left: 684px;
  }
  .text4{
    width: 296px;
    height: 36px;
    font-family: "stratos";
    font-weight:lighter;
    font-size: 28px;
    text-align: left;
    padding-top: 50px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -177px;
    margin-left: 187px;
  }
  .text5{
    width: 304px;
    height: 69px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: 53px;
    margin-left: 114px;
  }
  .text6{
    width: 182px;
    height: 69px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -45px;
    margin-left: 114px;
  }
  .text7{
    width: 162px;
    height: 180px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -45px;
    margin-left: 114px;
  }
  .text8{
    width: 485px;
    height: 37px;
    font-family: "stratos";
    font-weight: 100;
    font-style: normal;
    font-size: 29px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #FF6262;
    margin-top: 122px;
    margin-left: 74px;
  }

.cardsmall{
  width: 421px;
  height: 701px;
  display: block;
  background-image: url("../img/nachert.svg");
  background-size: 100% auto;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 571px;
  margin-left: 118px;;
}
.arrow{
  width: 280px;
  height: 730px;
  display: block;
  background-image: url("../img/arrow.svg");
  background-size: 100% auto;
  margin-top: -717px;
  margin-left: 635px
}
.ol{
  width: 310px;
  height: 184px;
  font-family: "stratos";
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  color: #48494B;
  margin-top: -480px;
  margin-left: 811px;
}
.head2039{
  width: 862px;
  height: 60px;
  font-family: "stratos";
  font-weight: 500;
  font-style: italic;
  font-size: 48px;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  color: #48494B;
  margin-top: 176px;
  margin-left: 4px;
}

  .books{
    width: 1266px;
    height: 686px;
    display: block;
    background-image: url("../img/books.svg");
    margin-top: 173px;
    margin-left: 8px;
  }
  .rublen{
    width: 434px;
    height: 126px;
    font-family: "stratos";
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    padding-top: 185px;
    padding-left: 40px;
    color: #48494B;
    margin-top: 0px;
    margin-left: 0px;
  }

  .booksmall{
    width: 29px;
    height: 492px;
    display: block;
    background-image: url("../img/booksmall.svg");
    padding-top: 185px;
    padding-left: 40px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .lower{
    width: 45px;
    height: 279px;
    display: block;
    background-image: url("../img/lowercase.svg");
    margin-top: 0px;
    margin-left: 0px;
  }

  .booksopen{
    width: 1022px;
    height: 676px;
    display: block;
    background-image: url("../img/booksopen.svg");
    margin-top: -739px;
    margin-left: 279px;
  }
  .goriz{
    width: 361px;
    height: 60px;
    font-family: "stratos";
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    padding-top: 35px;
    padding-left: 95px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .p175{
    width: 361px;
    height: 60px;
    font-family: "stratos";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    padding-top: 72px;
    padding-left: 254px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .p176{
    font-family: "stratos";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    padding-top: 72px;
    padding-left: 741px;
    color: #FF6262;
    margin-top: -144px;
    margin-left: 0px;
  }
  .propis{
    font-family: "stratos";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    padding-top: 72px;
    padding-left: 741px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
    transform: rotate(-90deg);
    width: 109px;
    height: 16px;
    left: 814.65px;
    top: 4234.01px;

  }
  .ris{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    padding-top: 72px;
    padding-left: 741px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .floorsecond{
    width: 1012px;
    height: 575px;
    background-image: url("../img/floorsecond.svg");
    margin-top: 179px;
    margin-left: 298px;
  }
  .avtor{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    padding-top: 102px;
    padding-left: 692px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .cabin{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    padding-top: 31px;
    padding-left: 692px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .prof{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    padding-top: 147px;
    padding-left: 0px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: -207px;
  }
  .bukin{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    padding-top: 31px;
    padding-left: 0px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: -208px;
  }
  .frame{
    width: 491px;
    height: 144px;
    display: block;
    background-image: url("../img/frame.svg");
    margin-top: 151px;
    margin-left: 424px;
  }
  .section{
    width: 456px;
    height: 90px;
    font-family: "stratos";
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    padding-top: 0px;
    padding-right: 0px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 17px;
  }

  .shelf{
    width: 1400px;
    height: 1265px;
    display: block;
    background-image: url("../img/shelf.svg");
    margin-top: 133px;
    margin-left: 70px;
  }

  .papers{
    width: 1458px;
    height: 998px;
    display: block;
    background-image: url("../img/papers.svg");
    margin-top: 245px;
    margin-left: 103px;
  }
  .box{
    width: 452px;
    height: 63px;
    display: block;
    background-image: url("../img/box.svg");
    margin-top: 0px;
    margin-left: 0px;
  }
  .kateg{
    font-family: "stratos";
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 0px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .creators{
    font-family: "stratos";
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 0px;
    color: #48494B;
    margin-top: 0px;
    margin-left: 0px;
  }
  .ruderman{
    font-family: "stratos";
    font-weight: 500;
    font-style: normal;
    font-size: 62px;
    text-align: left;
    padding-top: 11px;
    padding-left: 718px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .about{
    font-family: "stratos";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 393px;
    color: #48494B;
    margin-top: -10px;
    margin-left: 0px;
  }
  .yuri{
    font-family: "stratos";
    font-weight: 500;
    font-style: normal;
    font-size: 62px;
    text-align: left;
    padding-top: 93px;
    padding-left: 510px;
    color: #FF6262;
    margin-top: 0px;
    margin-left: 0px;
  }
  .about2{
    font-family: "stratos";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 393px;
    color: #48494B;
    margin-top: -10px;
    margin-left: 0px;
  }
