a {
  color: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'stratos', sans-serif;
  background: #EFE3CF;
  background-image: url("../img/stratos.figma.svg");
  background-repeat: no-repeat;
  background-position: center top;
}
.library {
  width: 1400px;
  height: 650px;
  display: block;
  background-image: url("../img/library.svg");
  background-size: 100% auto;
  margin: 156.9px 0 0 0
  }

  .headtext{
    font-family: "stratos";
    font-weight: normal;
    font-size: 140px;
    text-align: left;
    padding-top: 0px;
    padding-left: 500px;
    color: #FF6262;

  }
  .text1{
    font-family: "stratos";
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;
    padding-left: 376px;
    color: #FF6262;
    margin-top: -148px;
  }
  .text2{
    width: 458px;
    height: 111px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 29px;
    text-align: left;
    padding-top: 275px;
    padding-right: 0px;
    color: #FF6262;
    margin-left: 600px;
  }

  .year{
    font-family: "stratos";
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 0px;
    padding-right: 390px;
    color: #FF6262;
    margin-top: -41px;
  }

  .screensecond{
    width: 1299.85px;
    height: 905.52px;
    display: block;
    background-image: url("../img/screensecond.svg");
    background-size: 100% auto;
    margin-top: 125px;
    margin-left: 56px;
  }
  .text3{
    width: 277px;
    height: 137px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -20px;
    margin-left: 684px;
  }
  .text4{
    width: 296px;
    height: 36px;
    font-family: "stratos";
    font-weight:lighter;
    font-size: 28px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -177px;
    margin-left: 187px;
  }
  .text5{
    width: 304px;
    height: 69px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: 53px;
    margin-left: 114px;
  }
  .text6{
    width: 182px;
    height: 69px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -45px;
    margin-left: 114px;
  }
  .text7{
    width: 162px;
    height: 180px;
    font-family: "stratos";
    font-weight: normal;
    font-size: 55px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #48494B;
    margin-top: -45px;
    margin-left: 114px;
  }
  .text8{
    width: 485px;
    height: 37px;
    font-family: "stratos";
    font-weight: 100;
    font-style: normal;
    font-size: 29px;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: #FF6262;
    margin-top: 386px;
    margin-left: 74px;
  }
.cardsmall{
  width: 421px;
  height: 701px;
  display: block;
  background-image: url("../img/cardsmall.svg");
  background-size: 100% auto;
  margin-top: 293px;
  margin-left: 175px;
}
.ol{
  width: 310px;
  height: 184px;
  font-family: "stratos";
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  color: #48494B;
  margin-top: -478px;
    margin-left: 812px;
}
  .books{
    width: 1266px;
    height: 686px;
    display: block;
    background-image: url("../img/books.svg");
    margin: 1000.71px 0px 0px 73.2px
  }
  .nachertania{
    font-family: "stratos";
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
    color: #FF6262;
    z-index: 5;
  }
  .booksmall{
    width: 70px;
    height: 676px;
    display: block;
    background-image: url("../img/booksmall.svg");
    margin: 374.42px 0px 0px 104.23px
  }
  .booksopen{
    width: 1022px;
    height: 676px;
    display: block;
    background-image: url("../img/booksopen.svg");
    margin: 374.42px 0px 0px 76.42px
  }
  .floorsecond{
    width: 1012px;
    height: 575px;
    display: block;
    background-image: url("../img/floorsecond.svg");
  }
  .frame{
    width: 488px;
    height: 141px;
    display: block;
    background-image: url("../img/floorsecond.svg");
  }

  .shelf{
    width: 1400px;
    height: 1265px;
    display: block;
    background-image: url("../img/floorsecond.svg");
  }

  .papers{
    width: 1458px;
    height: 998px;
    display: block;
    background-image: url("../img/floorsecond.svg");
  }
