@import "content.css";
@import "layout.css";
@import "content.css";
@import "sidebar.css";
@font-face {
font-family: "stratos";
src: url("../font/StratosLCG-Desktop-regular") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-black") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-blackitalic") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-blackitalic") format("truetype");
font-style: normal;
font-weight: lighter;
