@import "content.css";
@import "layout.css";
@import "content.css";
@import "sidebar.css";
@font-face {
font-family: "stratos";
src: url("../font/StratosLCG-Desktop-regular.otf") format("truetype");
font-style: normal;

src: url("../font/StratosLCG-Desktop-black.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-blackitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-blackitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-extralight.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-semilightitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-bold.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-bolditalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-extrabold.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-extrabolditalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-extralightitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-italic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-light.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-lightitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-medium.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-semibold.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-semibolditalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-thin.otf") format("truetype");
font-style: normal;
font-weight: lighter;

src: url("../font/StratosLCG-Desktop-thinitalic.otf") format("truetype");
font-style: normal;
font-weight: lighter;
